@font-face {
  font-family: ZonaPro-Regular;
  src: url(../recursos/ZonaPro-Regular.ttf); }

@font-face {
  font-family: ZonaPro-Bold;
  src: url(../recursos/ZonaPro-Bold.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ZonaPro-Regular; }

.header-principal .navbar {
  min-height: 10vh; }
  .header-principal .navbar .container-fluid .offcanvas-header {
    justify-content: flex-end; }
  .header-principal .navbar .navbar-brand {
    margin: 10px 0 10px 0px; }
    .header-principal .navbar .navbar-brand img {
      height: 40px; }
  .header-principal .navbar .navbar-toggler:focus {
    box-shadow: none; }
  .header-principal .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url(../recursos/menu-hamb.png); }

.header-principal .navbar-expand-lg {
  justify-content: flex-end; }
  .header-principal .navbar-expand-lg .offcanvas-body {
    justify-content: flex-end; }
    .header-principal .navbar-expand-lg .offcanvas-body .navbar-nav {
      height: 65px;
      align-items: center;
      width: 550px;
      justify-content: space-between; }
      .header-principal .navbar-expand-lg .offcanvas-body .navbar-nav .marcador-actual {
        background-color: #501c1a;
        padding: 3px 5px;
        border-radius: 5px; }
      .header-principal .navbar-expand-lg .offcanvas-body .navbar-nav .enlace-pag {
        padding: 3px 5px;
        text-decoration: none;
        color: #e9e9ea; }
        .header-principal .navbar-expand-lg .offcanvas-body .navbar-nav .enlace-pag:hover {
          font-family: ZonaPro-Bold; }
      .header-principal .navbar-expand-lg .offcanvas-body .navbar-nav .marcador {
        padding: 3px 5px;
        border-radius: 20px; }
        .header-principal .navbar-expand-lg .offcanvas-body .navbar-nav .marcador:hover {
          background-color: #501c1a7e;
          padding: 3px 5px;
          border-radius: 5px;
          font-family: ZonaPro-Bold; }

.header-principal .deg-navbar {
  background-image: linear-gradient(#030303c7, #08141300);
  justify-content: flex-end; }

body::-webkit-scrollbar {
  width: 7px;
  background: #7c7c7c; }

body::-webkit-scrollbar-thumb {
  background: #e9e9eac0;
  border-radius: 5px; }

.banner-inicio {
  background-image: url(../recursos/backg-main.png);
  height: 100vh;
  background-size: cover; }
  .banner-inicio .main-index {
    min-height: 85vh; }
    .banner-inicio .main-index .titulo-principal {
      height: 650px;
      display: flex;
      text-align: center;
      color: #e9e9ea;
      font-size: 40px;
      flex-direction: column;
      margin: auto;
      justify-content: center; }
      .banner-inicio .main-index .titulo-principal .nombre-negrita {
        font-family: ZonaPro-Bold;
        font-size: 85px; }
      .banner-inicio .main-index .titulo-principal .animate__fadeInDown {
        animation-duration: 2s; }
    .banner-inicio .main-index .botones-index {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto; }
      .banner-inicio .main-index .botones-index .btn-sp {
        margin: 0 290px;
        padding: 30px 70px;
        border: none;
        border-radius: 10px;
        background-color: #2a4647;
        color: #e9e9ea;
        font-size: 20px;
        box-shadow: 5px 8px 20px 0px #00000082;
        transition: 1s; }
        .banner-inicio .main-index .botones-index .btn-sp:hover {
          transform: scale(1.05);
          border: 1px solid #e9e9ea98; }
        .banner-inicio .main-index .botones-index .btn-sp .texto-negrita {
          font-family: ZonaPro-Bold; }
    .banner-inicio .main-index .wpp-float {
      position: fixed;
      right: 40px;
      bottom: 30px; }
      .banner-inicio .main-index .wpp-float img {
        height: 80px;
        width: 80px; }

.fondo-sobrenosotros {
  background-image: url(../recursos/fondo-sobrenosotros.png);
  height: 100vh;
  background-size: cover; }
  .fondo-sobrenosotros .main-sobrenosotros {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto; }
    .fondo-sobrenosotros .main-sobrenosotros .titulo-quienessomos {
      font-family: ZonaPro-Bold;
      color: #e9e9ea;
      font-size: 36px;
      margin: 200px 125px 5px 125px;
      border-left: 5px solid #e9e9ea;
      padding-left: 20px; }
    .fondo-sobrenosotros .main-sobrenosotros .texto-quienessomos {
      color: #e9e9ea;
      margin: 15px 100px 5px 125px;
      width: 450px;
      border-left: 1px solid #e9e9ea;
      padding-left: 20px; }
    .fondo-sobrenosotros .main-sobrenosotros .animate__slideInLeft {
      animation-duration: 2s; }
    .fondo-sobrenosotros .main-sobrenosotros .wpp-float {
      position: fixed;
      right: 40px;
      bottom: 30px; }
      .fondo-sobrenosotros .main-sobrenosotros .wpp-float img {
        height: 80px;
        width: 80px; }

.fondo-proyectos {
  background-image: url(../recursos/fondo-proyectos.png);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed; }
  .fondo-proyectos .main-proyectos {
    min-height: 90vh; }
    .fondo-proyectos .main-proyectos .wpp-float {
      position: fixed;
      right: 40px;
      bottom: 30px; }
      .fondo-proyectos .main-proyectos .wpp-float img {
        height: 80px;
        width: 80px; }
    .fondo-proyectos .main-proyectos .titulo-proyectos {
      font-family: ZonaPro-Bold;
      color: #e9e9ea;
      font-size: 36px;
      width: 800px;
      margin: 80px auto 50px auto;
      border-left: 5px solid #e9e9ea;
      padding-left: 20px; }
    .fondo-proyectos .main-proyectos .img-proyectos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "proyecto1 proyecto2" "proyecto3 proyecto4";
      width: 800px;
      height: 710px;
      grid-gap: 50px;
      margin: 20px auto; }
      .fondo-proyectos .main-proyectos .img-proyectos .proyecto1 {
        grid-area: proyecto1;
        animation-delay: 0.5s; }
      .fondo-proyectos .main-proyectos .img-proyectos .proyecto2 {
        grid-area: proyecto2;
        animation-delay: 1s; }
      .fondo-proyectos .main-proyectos .img-proyectos .proyecto3 {
        grid-area: proyecto3;
        animation-delay: 1.5s; }
      .fondo-proyectos .main-proyectos .img-proyectos .proyecto4 {
        grid-area: proyecto4;
        animation-delay: 2s; }
      .fondo-proyectos .main-proyectos .img-proyectos .proyecto {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        transition: all .3s ease-in; }
        .fondo-proyectos .main-proyectos .img-proyectos .proyecto:hover .card-overlay {
          opacity: 1; }
        .fondo-proyectos .main-proyectos .img-proyectos .proyecto .card-img {
          width: 100%;
          height: 100%;
          overflow: hidden; }
          .fondo-proyectos .main-proyectos .img-proyectos .proyecto .card-img img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            transition: 2s; }
            .fondo-proyectos .main-proyectos .img-proyectos .proyecto .card-img img:hover {
              transform: scale(1.2); }
        .fondo-proyectos .main-proyectos .img-proyectos .proyecto .card-overlay {
          width: 100%;
          height: 15%;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0;
          color: #e9e9ea;
          background-color: #0814139a;
          transition: .5s ease-in; }
          .fondo-proyectos .main-proyectos .img-proyectos .proyecto .card-overlay p {
            padding: 10px;
            margin: 0; }

.footer-proyectos {
  min-height: 20vh;
  display: flex;
  bottom: 0px;
  width: auto;
  border-top: 2px solid #e9e9ea41;
  padding: 0 70px;
  background-color: #2a4647;
  color: #e9e9ea; }
  .footer-proyectos .footer-contactanos {
    margin: 60px; }
    .footer-proyectos .footer-contactanos h2 {
      font-size: 20px;
      font-family: ZonaPro-Bold; }
    .footer-proyectos .footer-contactanos .lista-contactanos {
      list-style: none;
      padding: 0; }
      .footer-proyectos .footer-contactanos .lista-contactanos li {
        display: flex;
        margin-top: 25px;
        opacity: 0.8; }
        .footer-proyectos .footer-contactanos .lista-contactanos li:hover {
          opacity: 1; }
        .footer-proyectos .footer-contactanos .lista-contactanos li img {
          margin-right: 10px; }
        .footer-proyectos .footer-contactanos .lista-contactanos li p {
          margin: 0; }
  .footer-proyectos .footer-seguinos {
    margin: 60px; }
    .footer-proyectos .footer-seguinos h2 {
      font-size: 20px;
      font-family: ZonaPro-Bold; }
    .footer-proyectos .footer-seguinos .lista-redes {
      list-style: none;
      display: flex;
      margin: auto;
      justify-content: space-between;
      width: 140px;
      height: 40px;
      padding: 0;
      align-items: flex-end; }
      .footer-proyectos .footer-seguinos .lista-redes .logos-footer {
        width: 30px;
        height: 30px;
        opacity: 0.8; }
        .footer-proyectos .footer-seguinos .lista-redes .logos-footer:hover {
          opacity: 1; }

.fondo-servicios {
  background-image: url(../recursos/fondo-servicios.png);
  min-height: 100vh;
  background-size: cover; }
  .fondo-servicios .main-servicios {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; }
    .fondo-servicios .main-servicios .wpp-float {
      position: fixed;
      right: 40px;
      bottom: 30px; }
      .fondo-servicios .main-servicios .wpp-float img {
        height: 80px;
        width: 80px; }
    .fondo-servicios .main-servicios .titulo-servicios {
      font-family: ZonaPro-Bold;
      color: #e9e9ea;
      font-size: 36px;
      margin: 0 50px;
      padding-left: 20px;
      width: 598px;
      border-left: 5px solid #e9e9ea; }
    .fondo-servicios .main-servicios .ancho-ac {
      width: 600px;
      margin: 0 50px;
      display: flex;
      flex-direction: column;
      height: 600px;
      justify-content: space-around; }
      .fondo-servicios .main-servicios .ancho-ac .item1 {
        animation-delay: 0.5s; }
      .fondo-servicios .main-servicios .ancho-ac .item2 {
        animation-delay: 1s; }
      .fondo-servicios .main-servicios .ancho-ac .item3 {
        animation-delay: 1.5s; }
      .fondo-servicios .main-servicios .ancho-ac .item4 {
        animation-delay: 2s; }
      .fondo-servicios .main-servicios .ancho-ac .accordion-item {
        background-color: #3c2b42;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 8px 2px #0814133d;
        transition: 1s; }
        .fondo-servicios .main-servicios .ancho-ac .accordion-item:hover {
          transform: scale(1.05);
          box-shadow: 5px 5px 8px 2px #08141377;
          border: 1px solid #e9e9ea98; }
        .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 {
          margin: 0;
          height: 100px; }
          .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 .btn-servicio {
            height: 100px;
            width: 598px;
            background-color: #3c2b42;
            border: none;
            border-radius: 5px; }
            .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 .btn-servicio .img-serv {
              display: flex;
              color: #e9e9ea;
              font-size: 20px;
              justify-content: space-around;
              align-items: center;
              width: 330px; }
              .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 .btn-servicio .img-serv img {
                width: 80px;
                height: 80px; }
              .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 .btn-servicio .img-serv p {
                margin: 0;
                width: 145px;
                text-align: left; }
        .fondo-servicios .main-servicios .ancho-ac .accordion-item .texto-servicio {
          color: #e9e9ea9c;
          border-top: 1px solid #e9e9ea41; }

.fondo-contacto {
  background-image: url(../recursos/fondo-contacto.png);
  min-height: 100vh; }
  .fondo-contacto .main-contacto {
    min-height: 90vh;
    display: flex;
    flex-direction: column; }
    .fondo-contacto .main-contacto .wpp-float {
      position: fixed;
      right: 40px;
      bottom: 30px; }
      .fondo-contacto .main-contacto .wpp-float img {
        height: 80px;
        width: 80px; }
    .fondo-contacto .main-contacto .titulo-contacto {
      font-family: ZonaPro-Bold;
      color: #e9e9ea;
      font-size: 24px;
      width: 600px;
      margin: auto;
      border-left: 5px solid #e9e9ea;
      padding-left: 20px; }
    .fondo-contacto .main-contacto .form-general {
      display: flex;
      height: 800px;
      flex-direction: column;
      width: 600px;
      margin: auto;
      justify-content: space-around; }
      .fondo-contacto .main-contacto .form-general .input-completar {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between; }
        .fondo-contacto .main-contacto .form-general .input-completar .anim1 {
          animation-delay: 0.5s; }
        .fondo-contacto .main-contacto .form-general .input-completar .anim2 {
          animation-delay: 1s; }
        .fondo-contacto .main-contacto .form-general .input-completar .anim3 {
          animation-delay: 1.5s; }
        .fondo-contacto .main-contacto .form-general .input-completar .fondo-input {
          background-color: #e9e9ea33;
          border: none;
          border-radius: 5px;
          transition: 1s; }
          .fondo-contacto .main-contacto .form-general .input-completar .fondo-input:focus {
            background-color: #e9e9eaa6;
            border: 2px solid #3c2b42;
            outline: 0;
            box-shadow: 4px 4px 10px 1px #0814133d; }
        .fondo-contacto .main-contacto .form-general .input-completar .texto-input {
          color: #e9e9ea; }
      .fondo-contacto .main-contacto .form-general .check-list .sub-form {
        font-size: 16px;
        color: #e9e9ea;
        margin-bottom: 8px; }
      .fondo-contacto .main-contacto .form-general .check-list .check-servicios {
        display: flex;
        justify-content: space-between; }
        .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv {
          display: flex;
          background-color: #e9e9ea33;
          border-radius: 5px;
          flex-direction: column; }
          .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .label-serv {
            text-align: center;
            margin: auto;
            width: 120px; }
            .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .label-serv::placeholder {
              color: #e9e9ea; }
            .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .label-serv p {
              color: #e9e9ea;
              margin: auto;
              font-size: 14px; }
            .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .label-serv img {
              width: 60px;
              height: 60px; }
          .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .inp-serv {
            width: 15px;
            height: 15px;
            margin: 4px 0 0 4px;
            border: none;
            border-radius: 5px;
            accent-color: #501c1a; }
      .fondo-contacto .main-contacto .form-general .input-selectarea .mb-3 .sub-form {
        font-size: 16px;
        color: #e9e9ea;
        margin-bottom: 8px; }
      .fondo-contacto .main-contacto .form-general .input-selectarea .mb-3 .sel-arch {
        background-color: #e9e9ea33;
        border: none; }
      .fondo-contacto .main-contacto .form-general .input-selectarea .input-group {
        box-shadow: none; }
        .fondo-contacto .main-contacto .form-general .input-selectarea .input-group .tx-area {
          background-color: #e9e9ea33;
          border-radius: 5px;
          border: none;
          color: #e9e9ea;
          transition: 1s; }
          .fondo-contacto .main-contacto .form-general .input-selectarea .input-group .tx-area::placeholder {
            color: #e9e9ea; }
          .fondo-contacto .main-contacto .form-general .input-selectarea .input-group .tx-area:focus {
            background-color: #e9e9eaa6;
            border: 2px solid #3c2b42;
            outline: 0;
            box-shadow: 4px 4px 10px 1px #0814133d; }
      .fondo-contacto .main-contacto .form-general .btn-submit {
        background-color: #3c2b42;
        border: none;
        height: 40px;
        border-radius: 5px;
        color: #e9e9ea;
        box-shadow: 1px 2px 6px 1px #08141377;
        transition: 1s;
        animation-delay: 4s; }
        .fondo-contacto .main-contacto .form-general .btn-submit:hover {
          transform: scale(1.02);
          border: 1px solid #e9e9ea98; }

.footer-proyectos {
  min-height: 20vh;
  display: flex;
  bottom: 0px;
  width: auto;
  border-top: 2px solid #e9e9ea41;
  padding: 0 70px;
  background-color: #2a4647;
  color: #e9e9ea; }
  .footer-proyectos .footer-contactanos {
    margin: 60px; }
    .footer-proyectos .footer-contactanos h2 {
      font-size: 20px;
      font-family: ZonaPro-Bold; }
    .footer-proyectos .footer-contactanos .lista-contactanos {
      list-style: none;
      padding: 0; }
      .footer-proyectos .footer-contactanos .lista-contactanos li {
        display: flex;
        margin-top: 25px;
        opacity: 0.8; }
        .footer-proyectos .footer-contactanos .lista-contactanos li:hover {
          opacity: 1; }
        .footer-proyectos .footer-contactanos .lista-contactanos li img {
          margin-right: 10px; }
        .footer-proyectos .footer-contactanos .lista-contactanos li p {
          margin: 0; }
  .footer-proyectos .footer-seguinos {
    margin: 60px; }
    .footer-proyectos .footer-seguinos h2 {
      font-size: 20px;
      font-family: ZonaPro-Bold; }
    .footer-proyectos .footer-seguinos .lista-redes {
      list-style: none;
      display: flex;
      margin: auto;
      justify-content: space-between;
      width: 140px;
      height: 40px;
      padding: 0;
      align-items: flex-end; }
      .footer-proyectos .footer-seguinos .lista-redes .logos-footer {
        width: 30px;
        height: 30px;
        opacity: 0.8; }
        .footer-proyectos .footer-seguinos .lista-redes .logos-footer:hover {
          opacity: 1; }

.footer-index {
  min-height: 20vh;
  display: flex;
  bottom: 0px;
  width: auto;
  border-top: 2px solid #e9e9ea41;
  padding: 0 70px;
  background-color: #3c2b42;
  color: #e9e9ea; }
  .footer-index .footer-contactanos {
    margin: 60px; }
    .footer-index .footer-contactanos h2 {
      font-size: 20px;
      font-family: ZonaPro-Bold; }
    .footer-index .footer-contactanos .lista-contactanos {
      list-style: none;
      padding: 0; }
      .footer-index .footer-contactanos .lista-contactanos li {
        display: flex;
        margin-top: 25px;
        opacity: 0.8; }
        .footer-index .footer-contactanos .lista-contactanos li:hover {
          opacity: 1; }
        .footer-index .footer-contactanos .lista-contactanos li img {
          margin-right: 10px; }
        .footer-index .footer-contactanos .lista-contactanos li p {
          margin: 0; }
  .footer-index .footer-seguinos {
    margin: 60px; }
    .footer-index .footer-seguinos h2 {
      font-size: 20px;
      font-family: ZonaPro-Bold; }
    .footer-index .footer-seguinos .lista-redes {
      list-style: none;
      display: flex;
      margin: auto;
      justify-content: space-between;
      width: 140px;
      height: 40px;
      padding: 0;
      align-items: flex-end; }
      .footer-index .footer-seguinos .lista-redes .logos-footer {
        width: 30px;
        height: 30px;
        opacity: 0.8; }
        .footer-index .footer-seguinos .lista-redes .logos-footer:hover {
          opacity: 1; }

@media (max-width: 992px) {
  /* HEADER */
  .header-principal .deg-navbar {
    margin: auto; }
    .header-principal .deg-navbar .offcanvas {
      background-color: #3c2b42;
      width: 200px; }
      .header-principal .deg-navbar .offcanvas .offcanvas-header .btn-close {
        background-image: url(/recursos/close-icon.svg);
        background-size: 25px;
        box-shadow: none; }
      .header-principal .deg-navbar .offcanvas .offcanvas-body {
        padding: 20px 0; }
        .header-principal .deg-navbar .offcanvas .offcanvas-body .navbar-nav {
          width: 320px;
          height: 190px; }
    .header-principal .deg-navbar .navbar-brand img {
      height: 35px; }
    .header-principal .deg-navbar .navbar-nav {
      height: 200px;
      width: 100vw;
      justify-content: space-around; }
      .header-principal .deg-navbar .navbar-nav .marcador-actual {
        text-align: center;
        width: 300px;
        background-color: #501c1a;
        padding: 3px 5px;
        border-radius: 20px;
        font-size: 14px; }
      .header-principal .deg-navbar .navbar-nav .marcador {
        font-size: 14px;
        text-align: center; }
        .header-principal .deg-navbar .navbar-nav .marcador:hover {
          width: 300px; }
        .header-principal .deg-navbar .navbar-nav .marcador .pag-actual {
          font-family: ZonaPro-Bold; }
    .header-principal .deg-navbar .navbar-toggler .navbar-toggler-icon {
      width: 25px; }
  /* INDEX */
  .banner-inicio .main-index .titulo-principal {
    height: 650px; }
    .banner-inicio .main-index .titulo-principal .nombre-negrita {
      font-size: 40px; }
    .banner-inicio .main-index .titulo-principal .subtitulo {
      font-size: 22px; }
  .banner-inicio .main-index .botones-index {
    flex-direction: column;
    height: 120px;
    justify-content: space-between; }
    .banner-inicio .main-index .botones-index .btn-sp {
      margin: auto;
      padding: 14px 0px;
      font-size: 16px;
      width: 380px; }
  .banner-inicio .main-index .wpp-float {
    right: 30px;
    bottom: 20px; }
    .banner-inicio .main-index .wpp-float img {
      height: 60px;
      width: 60px; }
  /* FOOTER VIOLETA*/
  .footer-index {
    flex-direction: column; }
    .footer-index .footer-contactanos {
      margin: 50px 40px 5px 40px; }
      .footer-index .footer-contactanos h2 {
        font-size: 16px; }
      .footer-index .footer-contactanos .lista-contactanos li p {
        font-size: 16px; }
    .footer-index .footer-seguinos {
      margin: 40px; }
      .footer-index .footer-seguinos h2 {
        font-size: 16px; }
      .footer-index .footer-seguinos .lista-redes {
        width: 170px;
        margin: auto 0px; }
  /* FOOTER VERDE*/
  .footer-proyectos {
    flex-direction: column; }
    .footer-proyectos .footer-contactanos {
      margin: 50px 40px 5px 40px; }
      .footer-proyectos .footer-contactanos h2 {
        font-size: 16px; }
      .footer-proyectos .footer-contactanos .lista-contactanos li p {
        font-size: 16px; }
    .footer-proyectos .footer-seguinos {
      margin: 40px; }
      .footer-proyectos .footer-seguinos h2 {
        font-size: 16px; }
      .footer-proyectos .footer-seguinos .lista-redes {
        width: 170px;
        margin: auto 0px; }
  /* Sobre nosotros */
  .fondo-sobrenosotros {
    background-position: 830px; }
    .fondo-sobrenosotros .main-sobrenosotros .titulo-quienessomos {
      font-size: 30px;
      margin-top: 90px;
      margin-left: 60px; }
    .fondo-sobrenosotros .main-sobrenosotros .texto-quienessomos {
      font-size: 14px;
      width: 340px;
      margin-left: 60px;
      padding-right: 39px; }
    .fondo-sobrenosotros .main-sobrenosotros .wpp-float {
      right: 30px;
      bottom: 20px; }
      .fondo-sobrenosotros .main-sobrenosotros .wpp-float img {
        height: 60px;
        width: 60px; }
  /* Proyectos */
  .fondo-proyectos .main-proyectos {
    min-height: 150vh; }
    .fondo-proyectos .main-proyectos .titulo-proyectos {
      font-size: 30px;
      width: 400px; }
    .fondo-proyectos .main-proyectos .img-proyectos {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      width: 400px;
      height: 1400px;
      grid-gap: 25px;
      grid-template-areas: "proyecto1" "proyecto2" "proyecto3" "proyecto4"; }
  /* Servicios */
  .fondo-servicios .main-servicios .titulo-servicios {
    font-size: 30px;
    width: 390px;
    margin: 0px auto; }
  .fondo-servicios .main-servicios .ancho-ac {
    margin: 0px auto;
    width: 400px;
    height: 480px; }
    .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 {
      height: 80px; }
      .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 .btn-servicio {
        width: 380px;
        height: 80px; }
        .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 .btn-servicio .img-serv p {
          font-size: 14px; }
        .fondo-servicios .main-servicios .ancho-ac .accordion-item #servicio1 .btn-servicio .img-serv img {
          width: 50px;
          height: 50px; }
  .fondo-servicios .main-servicios .wpp-float {
    right: 30px;
    bottom: 20px; }
    .fondo-servicios .main-servicios .wpp-float img {
      height: 60px;
      width: 60px; }
  /* Contacto */
  .fondo-contacto .main-contacto .titulo-contacto {
    font-size: 20px;
    margin: 15px auto;
    width: 380px; }
  .fondo-contacto .main-contacto .form-general {
    width: 380px; }
    .fondo-contacto .main-contacto .form-general .input-completar .form-floating .texto-input {
      font-size: 12px; }
    .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .label-serv {
      width: 80px; }
      .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .label-serv img {
        width: 40px;
        height: 40px; }
      .fondo-contacto .main-contacto .form-general .check-list .check-servicios .check-serv .label-serv p {
        font-size: 10px; }
    .fondo-contacto .main-contacto .form-general .input-selectarea .input-group .tx-area::placeholder {
      font-size: 12px; }
  .fondo-contacto .main-contacto .wpp-float {
    right: 30px;
    bottom: 20px; }
    .fondo-contacto .main-contacto .wpp-float img {
      height: 60px;
      width: 60px; } }
