@import "./recursos-sas/vars";

@font-face {
    font-family: ZonaPro-Regular;
    src: url(../recursos/ZonaPro-Regular.ttf);
}

@font-face {
    font-family: ZonaPro-Bold;
    src: url(../recursos/ZonaPro-Bold.ttf);
}

@import "./recursos-sas/reset";

@import "./secciones/header";

@import "./secciones/main-index";

@import "./secciones/main-sobrenos";

@import "./secciones/main-proyectos";

@import "./secciones/main-servicios";

@import "./secciones/main-contacto";

@import "./secciones/footer";

@import "./recursos-sas/queries";