.header-principal {

    .navbar {
        min-height: 10vh;

        .container-fluid {
            .offcanvas-header {
                justify-content: flex-end;
            }
        }

        .navbar-brand {
            margin: 10px 0 10px 0px;

            img {
                height: 40px;
            }
        }

        .navbar-toggler {
                box-shadow: none;
                border: none;

            .navbar-toggler-icon {
                background-image: url(../recursos/menu-hamb.png);

            }
        }
    }

    .navbar-expand-lg {
        justify-content: flex-end;

        .offcanvas-body {
            justify-content: flex-end;

            .navbar-nav {
                height: 65px;
                align-items: center;
                width: 550px;
                justify-content: space-between;

                .marcador-actual {
                    background-color: $bordo;
                    padding: 3px 5px;
                    border-radius: 5px;
                }

                .enlace-pag {
                    padding: 3px 5px;
                    text-decoration: none;
                    color: $blanco;

                    &:hover {
                        font-family: ZonaPro-Bold;
                    }
                }

                .marcador {
                    padding: 3px 5px;
                    border-radius: 20px;

                    &:hover {
                        background-color: #501c1a7e;
                        padding: 3px 5px;
                        border-radius: 5px;
                        font-family: ZonaPro-Bold;

                    }
                }
            }
        }
    }

    .deg-navbar {
        background-image: linear-gradient(#030303c7, #08141300);
        justify-content: flex-end;
    }

}

body::-webkit-scrollbar {
    width: 7px;
    background: #7c7c7c;
}

body::-webkit-scrollbar-thumb{
    background: #e9e9eac0;
    border-radius: 5px;
}