.fondo-sobrenosotros {
    background-image: url(../../recursos/fondo-sobrenosotros.png);
    height: 100vh;
    background-size: cover;

    .main-sobrenosotros {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;

        .titulo-quienessomos {
            font-family: ZonaPro-Bold;
            color: $blanco;
            font-size: 36px;
            margin: 200px 125px 5px 125px;
            border-left: 5px solid $blanco;
            padding-left: 20px;
        }

        .texto-quienessomos {
            color: $blanco;
            margin: 15px 100px 5px 125px;
            width: 450px;
            border-left: 1px solid $blanco;
            padding-left: 20px;
        }

        .animate__slideInLeft{
            animation-duration: 2s;
        }

        .wpp-float {
            position: fixed;
            right: 40px;
            bottom: 30px;

            img {
                height: 80px;
                width: 80px;
            }
        }
    }
}