.fondo-contacto {
    background-image: url(../recursos/fondo-contacto.png);
    min-height: 100vh;

    .main-contacto {
        min-height: 90vh;
        display: flex;
        flex-direction: column;

        .wpp-float {
            position: fixed;
            right: 40px;
            bottom: 30px;

            img {
                height: 80px;
                width: 80px;
            }
        }

        .titulo-contacto {
            font-family: ZonaPro-Bold;
            color: $blanco;
            font-size: 24px;
            width: 600px;
            margin: auto;
            border-left: 5px solid $blanco;
            padding-left: 20px;
        }

        .form-general {
            display: flex;
            height: 800px;
            flex-direction: column;
            width: 600px;
            margin: auto;
            justify-content: space-around;

            .input-completar {
                display: flex;
                flex-direction: column;
                height: 200px;
                justify-content: space-between;

                .anim1 {
                    animation-delay: 0.5s;
                }

                .anim2 {
                    animation-delay: 1s;
                }

                .anim3 {
                    animation-delay: 1.5s;
                }

                .fondo-input {
                    background-color: #e9e9ea33;
                    border: none;
                    border-radius: 5px;
                    transition: 1s;

                    &:focus {
                        background-color: #e9e9eaa6;
                        border: 2px solid $violeta;
                        outline: 0;
                        box-shadow: 4px 4px 10px 1px #0814133d;
                    }
                }

                .texto-input {
                    color: $blanco;
                }
            }

            .check-list {

                .sub-form {
                    font-size: 16px;
                    color: $blanco;
                    margin-bottom: 8px;
                }

                .check-servicios {
                    display: flex;
                    justify-content: space-between;

                    .check-serv {
                        display: flex;
                        background-color: #e9e9ea33;
                        border-radius: 5px;
                        flex-direction: column;

                        .label-serv {
                            text-align: center;
                            margin: auto;
                            width: 120px;

                            &::placeholder {
                                color: $blanco;
                            }

                            p {
                                color: $blanco;
                                margin: auto;
                                font-size: 14px;
                            }

                            img {
                                width: 60px;
                                height: 60px;
                            }
                        }

                        .inp-serv {
                            width: 15px;
                            height: 15px;
                            margin: 4px 0 0 4px;
                            border: none;
                            border-radius: 5px;
                            accent-color: $bordo;
                        }
                    }
                }
            }

            .input-selectarea {
                .mb-3 {
                    .sub-form {
                        font-size: 16px;
                        color: $blanco;
                        margin-bottom: 8px;
                    }

                    .sel-arch {
                        background-color: #e9e9ea33;
                        border: none;
                    }
                }

                .input-group {
                    box-shadow: none;

                    .tx-area {
                        background-color: #e9e9ea33;
                        border-radius: 5px;
                        border: none;
                        color: $blanco;
                        transition: 1s;

                        &::placeholder {
                            color: $blanco;
                        }

                        &:focus {
                            background-color: #e9e9eaa6;
                            border: 2px solid $violeta;
                            outline: 0;
                            box-shadow: 4px 4px 10px 1px #0814133d;
                        }
                    }
                }
            }

            .btn-submit {
                background-color: $violeta;
                border: none;
                height: 40px;
                border-radius: 5px;
                color: #e9e9ea;
                box-shadow: 1px 2px 6px 1px #08141377;
                transition: 1s;
                animation-delay: 4s;

                &:hover {
                    transform: scale(1.02);
                    border: 1px solid #e9e9ea98;

                }
            }

        }
    }
}

.footer-proyectos {
    min-height: 20vh;
    display: flex;
    bottom: 0px;
    width: auto;
    border-top: 2px solid #e9e9ea41;
    padding: 0 70px;
    background-color: $verde;
    color: $blanco;

    .footer-contactanos {
        margin: 60px;

        h2 {
            font-size: 20px;
            font-family: ZonaPro-Bold;
        }

        .lista-contactanos {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                margin-top: 25px;
                opacity: (0.8);

                &:hover {
                    opacity: (1);
                }

                img {
                    margin-right: 10px;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .footer-seguinos {
        margin: 60px;

        h2 {
            font-size: 20px;
            font-family: ZonaPro-Bold;
        }

        .lista-redes {
            list-style: none;
            display: flex;
            margin: auto;
            justify-content: space-between;
            width: 140px;
            height: 40px;
            padding: 0;
            align-items: flex-end;

            .logos-footer {
                width: 30px;
                height: 30px;
                opacity: (0.8);

                &:hover {
                    opacity: (1);
                }
            }
        }
    }

}